version: '3.8'

services:
   # ----------------------------------------
   # SERVICIO PHP-FPM (Laravel)
   # ----------------------------------------
   php:
      container_name: lbcdev_filament_maps_php
      build:
         context: .
         dockerfile: php/Dockerfile
      volumes:
         - ..:/workspace
      working_dir: /workspace
      networks:
         - app_network
      environment:
         - PHP_IDE_CONFIG=serverName=lbcdev-filament-maps
      depends_on:
         - mysql
         - redis
      restart: unless-stopped

   # ----------------------------------------
   # SERVICIO NGINX
   # ----------------------------------------
   nginx:
      container_name: lbcdev_filament_maps_nginx
      build:
         context: ./nginx
         dockerfile: Dockerfile
      volumes:
         - ..:/workspace:ro
      ports:
         - '8080:80'
      networks:
         - app_network
      depends_on:
         - php
      restart: unless-stopped

   # ----------------------------------------
   # SERVICIO DE BASE DE DATOS MYSQL
   # ----------------------------------------
   mysql:
      image: mysql:8.0
      container_name: lbcdev_filament_maps_mysql
      volumes:
         - mysql_data:/var/lib/mysql
      environment:
         MYSQL_ROOT_PASSWORD: root
         MYSQL_DATABASE: lbcdev
         MYSQL_USER: dev
         MYSQL_PASSWORD: dev
      ports:
         - '3307:3306'
      networks:
         - app_network
      command: --default-authentication-plugin=mysql_native_password
      restart: unless-stopped

   # ----------------------------------------
   # SERVICIO REDIS (Cache y Colas)
   # ----------------------------------------
   redis:
      image: redis:7-alpine
      container_name: lbcdev_filament_maps_redis
      ports:
         - '6380:6379'
      volumes:
         - redis_data:/data
      networks:
         - app_network
      command: redis-server --appendonly yes
      healthcheck:
         test: [ "CMD", "redis-cli", "ping" ]
         interval: 10s
         timeout: 5s
         retries: 5
      restart: unless-stopped

volumes:
   mysql_data:
      driver: local
   redis_data:
      driver: local

networks:
   app_network:
      driver: bridge
